@charset "utf-8";
/* CSS Document */
/*公用*/
.comWidth{width:1000px;margin-left:auto;margin-right:auto;}
.leftArea{float:left;}
.rightArea{float:right;}
/*topBar*/
.topBar{height:31px;background-color:#F7F7F7;line-height:31px;}
.collection{background:url(img/icon/collection.jpg) left center no-repeat;padding-left:19px;font-weight:bold;}
.topBar a:hover{color:red;}
/*logo*/
.logoBar{height:85px;background-color:#1d7ad9;}
.logo{padding-left:2px;}
/*search*/
.search_box{width:430px;padding-top:23px;padding-left:147px;}
/*.search_text{width:350px;height:14px;line-height:14px;padding:11px 5px 10px;background-color:#FFF;}*/
.search_text{width:350px;height:35px;line-height:35px\9;/*css hack \9表示所有的IE浏览器*/padding:0px 5px;background-color:#FFF;}
.search_btn{width:70px;height:35px;font-size:14px;font-family:"MicrosoftYaHei","微软雅黑";background-color:#ff8c00;color:#FFF;}
/*购物车*/
.shopCar{width:145px;height:35px;background-color:#ff8c00;margin-top:23px;margin-right:59px;}
.shopText{font-size:14px;font-family:"MicrosoftYaHei","微软雅黑";color:#FFF;height:100%;line-height:35px;width:87px;border-right:#e27a00 solid 1px;
background:url(img/icon/shopicon.jpg) 10px center no-repeat;text-indent:40px;}
.shopNum{width:27px;height:35px;boder-left:#ff9c01 solid 1px;font-size:14px;font-family:"MicrosoftYaHei","微软雅黑";color:#FFF;;height:100%;line-height:35px;
background:url(img/icon/sj.jpg) 33px center no-repeat;text-align:right;padding-right:29px;}
